target/
**/target/
.idea/
.vscode/
*.iml
.classpath
.project
.settings/
.factorypath
.flattened-pom.xml
node_modules/
**/node_modules/
*.log
*.tmp
*.swp
.DS_Store
.git/
.gitignore
README.md
SPEC.md
**/src/test/
